<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<h1>About</h1>
		<p style="color: green;">
		  This is the about page :D
		</p>
	</body>
</html>